*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
examples/tim_gpt_1 filter=lfs diff=lfs merge=lfs -text
examples/comparison.gif filter=lfs diff=lfs merge=lfs -text
